{% extends "layout.html" %}

{% load static %}

{% block content %}

<form method="POST" action="" novalidate>

    {% csrf_token %}

    <table>
        <tbody>
            <tr>
                <td>
                    <label for="{{ form.email.auto_id }}"> {{ form.email.label }} </label>
                </td>
                <td>
                    {{ form.email }}

                    {% for error in form.email.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>


</form>
{% endblock %}


{% block javascript %}
<script>
document.querySelector('input[name="email"]').focus();
</script>
{% endblock %}
